*{
    font-family: fantasy;
    text-decoration-color: rgb(42, 66, 48);
}

body{
    background-color: rgb(22, 31, 22);
    background-image: url(https://images.unsplash.com/photo-1559239115-ce3eb7cb87ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1388&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

img{
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: thick;
    border-color: rgb(49, 87, 49);
    width: 35%;
}

#driscriptionlist{
    font-size: larger;
    font-weight: 500;
}

footer{
    text-align: right;
}

h1{
    font-size: 40px;
    font-weight: bolder;
}